version: '3.9'
services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped

  fire_prev_server:
    build:
      context: ./fire_prev_server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    restart: unless-stopped

  front_end:
    build:
      context: ./FRONT -END
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - redis
    restart: unless-stopped
